body {
    background-color: #2C2F33;
}
#homebar {
    display: flex;
}
h1 {
    color: white;
    background-color: silver;
    font-family: 'Trebuchet MS';
    margin-top: 60px;
    font-size: 60px;
    margin-left:40px;
}
.icon {
    margin-top: 0px;
    width:160px;
    height:160px;

}
.icon:hover {
    opacity: 50%;
    transition: 1s;
}